.skillsplide {
    height: 210px;
}



.skills {
    padding: 150px 0 100px 0;
    display: flex;
    flex-direction: column;
}

.skills img {
    width: 100px;
    height: 100px;
}

.skills h2 {
    font-size: 3.5rem;
}

.skillslist {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    text-wrap: wrap;
}

.lskills {
    transition-duration: 2s;
    transform: translateX(-150%);
    opacity: 0;
    width: 30%;
}

.mskills {
    transition-duration: 2s;
    transform: translateY(150%);
    opacity: 0;
    width: 30%;
}

.rskills {
    transition-duration: 2s;
    transform: translateX(150%);
    opacity: 0;
    width: 30%;
}

.slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
}