.skillsplide {
    height: 210px;
    width: 100%;
    text-transform: capitalize;
}

.skillsplide p {
    margin: 0 1.5vw 0 1.5vw;
}

@media only screen and (max-width: 800px) {

    .splide__arrows {
        position: relative;
        top: 40px;
    }

}