.skills img {
    width: 100px;
    height: 100px;
}

.skills h2 {
    font-size: 3.5rem;
}

.skillslist {
    width: 98vw;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-bottom: 10px;
    text-wrap: wrap;
}

.lskills {
    transition-duration: 2s;
    transform: translateX(-150%);
    opacity: 0;
    width: 30%;
    height: 70vh;
    margin-bottom: 8vh;
}

.mskills {
    transition-duration: 2s;
    transform: translateY(150%);
    opacity: 0;
    width: 30%;
    height: 70vh;
    margin-bottom: 8vh;
}

.rskills {
    transition-duration: 2s;
    transform: translateX(150%);
    opacity: 0;
    width: 30%;
    height: 70vh;
    margin-bottom: 8vh;
}

.t1skills, .t2skills, .t3skills {
    width: 30vw;
    height: 12vw;
}

.slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

@media only screen and (max-width: 1450px) {

    .t1skills, .t2skills, .t3skills {
        width: 30vw;
        height: 18vw;
    }

    .rskills, .mskills, .lskills {
        margin-bottom: 15vh;
    }
    

}