@import '@splidejs/splide/css';

/* 
Component CSS files are split off into their own files
This file is dedicated to everything not in a component
Such as all of the pages
*/

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-gutter: stable;
}

.font-link {
    font-family: 'Hanalei Fill', cursive;
}

body {
    margin: 0;
    padding-top: 100px;
    background-color: black;
    height: 100vh;
    width: 100vw;

    color: white;
    overflow-x: hidden;
}

.container {
    margin: 1rem;
    width: 100vw;
    text-align: center;
}

/* HOME PAGE */

.home {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scrollbar-gutter: stable;
}

.home a {
    text-decoration: none;
}

.homeleft {
    text-align: left;
    float: left;
    margin-left: 8.0vw;
}

.buttonStack {
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: left;
}

.homeright {
    float: right;
    width: 50%;

    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.headshot img{
    border-radius: 25px;
    height: 200px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 50px;
}

.icons img {
    height: 120px;
    width: 120px;
}

.skills h3 {
    padding-bottom: 50px;
}

/* ABOUT PAGE */

.summary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutText, .aboutImage {
    width: 100%;
    padding: 20px;
    margin-bottom: 25px;
}

.aboutText {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.aboutImage img{
    height: 300px;
    width: 500px;
}

.summary a {
    color: white;
}

/* PROJECTS PAGE*/

.projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* MEDIA TAGS*/


@media only screen and (max-width: 1100px) {

    body {
        padding-top: 10px;
        width: 100vw;
    }

    .container, .home {
        width: 100vw;
        margin: 0;
    }

    .home {
        margin-top: 0;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeleft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 0 5vh 0;
        margin-left: 0;
    }

    .buttonStack {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        float: none;
    }

    .homeright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: none;
    }

    .icons {
        gap: 25px;
    }

    .icons img{
        height: 100px;
        width: 100px;
    }

    .skills {
        margin: 0 10px 0 10px;
    }

    
}

@media only screen and (max-width: 800px)  { 

    .icons img{
        height: 80px;
        width: 80px;
    }

}