/* 
Component CSS files are split off into their own files
This file is dedicated to everything not in a component
Such as all of the pages
*/

:root {
    --darkblue: #0062ff;
    --charcoal: #2C4251;
}

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-link {
    font-family: 'Hanalei Fill', cursive;
}

body {
    margin: 0;
    padding-top: 100px;
    background-color: #183768;
    height: 100vh;
    width: 100vw;

    color: aliceblue;
}

.about {
    text-wrap: wrap;
}

.about a{
    color: white;
}

ul {
    list-style-type: none;
}

.container {
    margin: 1rem;
    text-align: center;
}

/* ABOUT PAGE */

.about {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about a {
    text-decoration: none;
}

/* Fix these classnames! These are just for testing currently!!! */
.test1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test2 {
    font-size: 2rem;
    font-weight: bolder;
    background-color: #7189FF;
    border: #333 8px solid;
    width: 75%;
}