@import '@splidejs/splide/css';

/* 
Component CSS files are split off into their own files
This file is dedicated to everything not in a component
Such as all of the pages
*/

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.font-link {
    font-family: 'Hanalei Fill', cursive;
}

body {
    margin: 0;
    padding-top: 100px;
    background-color: black;
    height: 100vh;
    width: 100vw;

    color: white;
    overflow-x: hidden;
}

.container {
    margin: 1rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .home {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .homeleft {
        width: 100vw;
        text-align: center;
        align-items: center;
    }

    .buttonStack {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: none;
    }

    .icons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skillslist {
        display: flex;
        flex-direction: column;
    }
  }

/* ABOUT PAGE */

.home {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scrollbar-gutter: stable;
}

.home a {
    text-decoration: none;
}

.homeleft {
    text-align: left;
    float: left;
    margin-left: 8.5vw;
}

.buttonStack {
    gap: 20px;
    display: flex;
    flex-direction: row;
    float: left;
}

.homeright {
    float: right;
    width: 50%;

    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.headshot img{
    border-radius: 25px;
    height: 200px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 50px;
}

.icons img {
    height: 120px;
    width: 120px;
}

.skills {
    padding: 150px 0 100px 0;
    display: flex;
    flex-direction: column;
}

.skills img {
    width: 100px;
    height: 100px;
}

.skills h2 {
    font-size: 3.5rem;
}

.skillslist {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    text-wrap: wrap;
}

.lskills {
    transition-duration: 2s;
    transform: translateX(-150%);
    opacity: 0;
    width: 30%;
}

.mskills {
    transition-duration: 2s;
    transform: translateY(150%);
    opacity: 0;
    width: 30%;
}

.rskills {
    transition-duration: 2s;
    transform: translateX(150%);
    opacity: 0;
    width: 30%;
}

.slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

/* BLOG PAGE -  Holding area */


/* ABOUT PAGE */

.summary {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin: 20px 20vw 0 20vw;
    font-size: 1.5rem;

    line-height: 2.5rem;
}

.summary a {
    color: white;
}
